<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title> Favorite Pokémon Generator</title>

    <style> 
      h1 {
        color: black; 
        font-size: 48px;
        text-align: center;
      }

      p {
        font-size: 24px;
        text-align: center;
      }

      button {
        text-align: center;
        display: block;
        margin:0 auto;
        font-size: 24px;
        border: black;
        background-color: red;
        color: white;
      }
    </style>

  </head>
  

  <body>
    <h1> Welcome to the Random Pokémon Generator!</h1> 
    <p> Click the button below to see what Pokémon you receive! </p>


    <button onclick="window.location.href='pokemon_result';">Receive a Pokémon!</button>
    <center> <img style="float: center;" src=static/images/poke_ball.png /> </center>
    
  </body>
</html>


