<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>CRUD App</title>
    </head>

    <style>
        html {
            background-color: black;
            color: white;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body>
        <center>
            <h1>
                CRUD Application
            </h1>
        </center>

        <center>
            <text>
                Enter a dictionary key to be deleted
            </text>
        </center>

        <br>

	<p> dictionary: {{retrieve_dictionary}} </p>

        <form action="{{url_for('delete_element')}}", method="post">
            <center> 
                <label for="entry1">Enter Key:</label>
                <input type="text" name="entry1"> 
                        
                <input type="submit" value="Submit">
            </center>
        </form>
                
                <br>
                <br>

            <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>

    </body>
</html>
