<!DOCTYPE html>
<html> 

    <head>
        <meta charset="multipart/form-data">
        <title> CRUD App </title>
    </head>

    <style>
        html {
            color: white;
            background-color: black;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body> 
        
        <center> <h1>CRUD Application</h1> </center> 
        <center> <text>Invalid Action. Return to the Home Page </text> </center> 
        <br>


        <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>
    </body>

    </script>

</html>
