<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>API App</title>
    </head>

    <style>
        html {
            background-color: black;
            color: white;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body>
        <center>
            <h1>
                API Application
            </h1>
        </center>

        <center>
            <text>
                Welcome to the API application. To get started, choose a CRUD operation
            </text>
        </center>

            <h3>
                <center>
                    <button onclick="window.location.replace('post_elements')">POST</button>

                    <button onclick="window.location.replace('get_page')">GET</button>

                    <button onclick="window.location.replace('put_elements')">PUT</button>

                    <button onclick="window.location.replace('delete_page')">DELETE</button>
                </center>
            </h3>

    </body>
</html>