<html>

    <head>
        <meta charset="utf-8">
        <title> Remember the Random Number </title>
    </head>

    <style>
        h1 {
            font-family: math;
        }
        h2 {
            font-family: math;
        }
        h4 {
            font-family: math;
        }
    </style>

    <body>
        <center> <h1> Remember the Random Number </h1> </center>
        <center> <h2>Click the button down below to specify how many digits in a sequence you want to remember</h2></center>
        <center> <h4>For example, enter "3" then you will to have to remember a number with 3 digits </h4></center>

        <center> <button onclick="window.location.href='/how_many_digits';">Remember a Number!</button> </center>
    </body>
</html>
