<!DOCTYPE html>

<html>
    <head>
        <style>
            html {
                color: white;
                background-color: black;
            }

            text {
                font-size: 24px;
            }
        </style>
    </head>

    <body>
        <center> <h1> API Application </h1></center>

        <center> <text> The data has been updated! </text>
        <br>
        <br>

        <center> <button onclick="window.location.replace('/')">Home Page</button> </center>
    </body>
</html>